<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Angular UI</title>

  <!--styles deps-->
  <link rel="stylesheet" href="../-common/bootstrap-3.3.6-dist2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../-common/bootstrap-3.3.6-dist2/css/bootstrap-theme.css">


  <style>
    .ng-invalid{
      border: 1px solid #ff0000;
    }
  </style>

  <!--scripts deps-->
  <script src="../-common/jquery/jquery-2.2.3.min.js"></script>
  <script src="../-common/bootstrap-3.3.6-dist2/js/bootstrap.min.js"></script>
  <script src="../-common/angular-1.5.5/angular.min.js"></script>
  <script src="../-common/angularui/ui-bootstrap-tpls-1.3.2.min.js"></script>
</head>
<body data-ng-controller="MainCtrl">
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Angular UI</h2>

      <hr>
      <div>
        <h4>Date Picker</h4>
        <!--<uib-datepicker data-ng-model="date"></uib-datepicker>-->
        <span>{{date}}</span>
        <div class="input-group">
          <input type="text" class="form-control"
                 uib-datepicker-popup="{{'mm/dd/yyyy'}}"
                 ng-model="date"
                 is-open="popups.isDateOpened"
                 datepicker-options="dateOptions"
                 ng-required="true"
                 close-text="Close"
                 alt-input-formats="altInputFormats" />

          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="popups.isDateOpened = true">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>

<script src="main.js"></script>
</body>
</html>