<div>
  <div>
    <p>This is {{name}} page</p>
  </div>
  <h4>Events</h4>
  <button ng-click="getEvents()" data-ng-hide="status.fetching">Refresh</button>
  <div data-ng-show="status.fetching">Please wait...</div>
</div>
<div class="half" data-ng-hide="status.fetching">
  <ul data-ng-repeat="event in events">
    <li><a data-ui-sref="events.details({eventId: event.id})">{{event.name}}</a></li>
  </ul>
</div>
<div class="half" data-ui-view="">
  <!--details events content to be shown here-->
</div>
