<!DOCTYPE html>
<html lang="en" data-ng-app="basicApp">
<head>
  <meta charset="UTF-8">
  <title>Init Angular app</title>
  <script src="../../-common/angular-1.5.5/angular.min.js"></script>
  <script src="../../-common/uiRouter/angular-ui-router.min.js"></script>
  <style>
    nav li {
      display: inline-block;
      margin: 0 10px;
    }

    li.active a {
      color: green;
    }
    .half{
      float: left;
      width: 50%
    }
  </style>
</head>
<body>
<main data-ng-controller="HomeCtrl">
  <h3>Routes App</h3>
  <nav>
    <ul>
      <!--<li><a href="#/">Home</a></li>-->
      <li data-ui-sref-active="active"><a data-ui-sref="home">Home</a></li>
      <li data-ui-sref-active="active"><a data-ui-sref="products">Products</a></li>
      <li data-ui-sref-active="active"><a data-ui-sref="events">Events</a></li>
      <!--<li><a href="#/pata-nhe">unknown routers</a></li>-->
    </ul>
  </nav>
  <div data-ui-view="" data-info="{{name}}">
    <!--this is where current state's content will be injected/added -->
  </div>

</main>


<script src="app.module.js"></script>
<script src="app.routes.config.js"></script>

<!--factories-->
<script src="products.factory.js"></script>
<script src="events.factory.js"></script>


<!--controllers-->
<script src="home.controller.js"></script>
<script src="products.controller.js"></script>
<script src="products.details.controller.js"></script>
<script src="events.controller.js"></script>
<script src="events.details.controller.js"></script>

<!--
<script>

  /*main app*/
  var app = angular
      .module('basicApp');


  /*routes*/
  app.config(function ($stateProvider, $urlRouterProvider, $locationProvider) {

    //set-up app's states and their routes
    $stateProvider
        .state('home', {
          url: '/',
          templateUrl: '/awais/day05/02-nestedRoutes/home.view.html',
//          template: '<div><p>This is {{name}} page</p></div>',
          controller: 'HomeCtrl'
        })
        .state('products', {
          url: '/products',
          templateUrl: '/awais/day05/02-nestedRoutes/products.view.html',
//          template: '<div><p>This is {{name}} page</p></div>',
          controller: 'ProductsCtrl'
        })
        .state('products.detail', {
          url: '/:productId',
          template: '<div><p>This is product Detail page</p></div>',
          controller: 'productsDetailCtrl'
        })
        .state('events', {
          url: '/events',
          templateUrl: '/awais/day05/02-nestedRoutes/events.view.html',
//          template: '<div><p>This is {{name}} page</p></div>',
          controller: 'EventsCtrl'
        })
        .state('notFound', {
          url: '/404',
          templateUrl: '/awais/day05/02-nestedRoutes/404.html'
//          template: '<p>The requested page not found. please use correct URLs.</p>'
        });


    //handle 404/unknown routes
    $urlRouterProvider.otherwise('/404'); //pass the URL instead of state


    //Declare the routes as SPA for SEO
    $locationProvider.hashPrefix('!');

  });

  /*controllers*/

//  app.controller('MainCtrl', function ($scope) {
//
//  });
//
//  app.controller('HomeCtrl', function ($scope) {
//    $scope.name = 'home';
//  });
//
//
//
//  app.controller('EventsCtrl', function ($scope) {
//    $scope.name = 'events';
//  });

<!--</script>
-->
</body>
</html>
