<div>
  <div>
    <p>This is {{name}} page</p>
  </div>
  <h4>Products</h4>
  <button ng-click="getProducts()" data-ng-hide="status.fetching">Refresh</button>
  <div data-ng-show="status.fetching">Please wait...</div>
</div>
<div class="half" data-ng-hide="status.fetching">
  <ul data-ng-repeat="product in products">
    <li><a data-ui-sref="products.details({productId: product.id})">{{product.name}}</a></li>
  </ul>
</div>
<div class="half" data-ui-view=""></div>
