<h1>Class timing details :-</h1>
<a ui-sref="boys">boys<sup>(evening)</sup></a>
<a ui-sref="girls">girls<sup>(morning)</sup></a>
<!--<a ui-sref=".detail">details<sup>(zombie detail state)</sup></a>-->
<hr/>
<p>
    this is a page article about students class timing including girls and boys
    those are learning in different categories some of which are in engineering
    while other are in medical science, So! to confirm your class timing and
    days check out link regarding to your section
</p>





