<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>AngularJS Directives</title>
  <script src="../../-common/angular-1.5.5/angular.min.js"></script>

</head>
<body>

<!--Shirts section-->
<section data-ng-controller="ShirtsCtrl">
  <h3>Shirts</h3>
  <input type="text" data-ng-model="compName">
  <p>Here is the list of Shirts.</p>
  <div class="table" data-my-table="" records="shirts" title="hello {{compName}}">
  </div>
</section>

<br>

<!--Pents section-->
<section data-ng-controller="PentsCtrl">
  <h3>Pents</h3>
  <input type="text" data-ng-model="compName">
  <p>Here is the list of Pents.</p>
  <div class="table">
    <data-my-table  records="pents" title="hello {{compName}}"></data-my-table>
  </div>
</section>


<script src="myTable/myTable.directive.js"></script>
<script src="main.js"></script>
</body>
</html>