<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>AngularJS Directives</title>
    <script src="../angular.min.js"></script>

</head>
<body>

<!--Shirts section-->
<section data-ng-controller="ShirtsCtrl">
    <h3>Shirts</h3>
    <p>Here is the list of Shirts.</p>
    <div class="table">
        <table border="!px solid #ffffff">
            <thead>
            <tr>
                <td>ID</td>
                <td>Brand</td>
                <td>Size</td>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="shirt in shirts">
                <td data-ng-bind="shirt.id"></td>
                <td data-ng-bind="shirt.brand"></td>
                <td data-ng-bind="shirt.size"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

<br>

<!--Pents section-->
<section data-ng-controller="PentsCtrl">
    <h3>Pents</h3>
    <p>Here is the list of Pents.</p>
    <div class="table">
        <table border="!px solid #ffffff">
            <thead>
            <tr>
                <td>ID</td>
                <td>Brand</td>
                <td>Size</td>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="pent in pents">
                <td data-ng-bind="pent.id"></td>
                <td data-ng-bind="pent.brand"></td>
                <td data-ng-bind="pent.size"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>


<script src="main.js"></script>
</body>
</html>