<table border="!px solid #ffffff">
  <thead>
  <tr>
    <td>ID</td>
    <td>Brand</td>
    <td>Size</td>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="record in records">
    <td data-ng-bind="record.id"></td>
    <td data-ng-bind="record.brand"></td>
    <td data-ng-bind="record.size"></td>
  </tr>
  </tbody>
</table>
<input type="text" data-ng-model="title">