<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Todo | List</title>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <style>
    .todo-container{
       width: 500px;
      display: inline-block;
     }
  </style>
</head>

<body ng-app="app">

<div class="container">
  <div class="todo-container">
    <div class="row">
      <div class="col-md12">
        <div class="page-header text-center">
          <h1>
            <i class="glyphicon glyphicon-pencil"></i>
            List Item
            <small>Todo List</small>
          </h1>
        </div>
        <div class="alert fade in bg-primary">
          <strong>Note!</strong> This is a fading Text.
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="del($index)">&times;</button>
        </div>
        <br/>
        <div ng-controller="parentScope">

          <div ng-controller="childScope">
            <div class="input-group">
              <input type="text" ng-model="todoValue" class="form-control" placeholder="Introduce Items...">
            <span class="input-group-btn">
              <button class="btn btn-primary" ng-click="add()" type="button">
                Add
              </button>
              <button class="btn btn-danger" ng-click="delSelect()" type="button">Delete Selected</button>

            </span>
            </div><!-- /input-group -->
            <hr/>

            <ul class="list-group">
              <li class="list-group-item alert fade in" ng-repeat="value in todoArr">
                <div>
                  <input type="checkbox" ng-model="value.del">
                  <span class="well">{{value.name}} </span>
                  (Delete : {{value.del}})
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true"
                          ng-click="del($index)">&times;</button>
                </div>
              </li>
            </ul><!-- /input-group -->
          </div><!-- /childScope -->

        </div><!-- /parentScope -->
      </div>
    </div>
  </div>

</div>

<script src="js/angular.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/alert.js"></script>
<script src="js/transition.js"></script>
<script src="./script.js"></script>

</body>
</html>

