<!DOCTYPE html>
<html lang="en" data-ng-app="basicApp">
<head>
  <meta charset="UTF-8">
  <title>Init Angular app</title>
  <script src="../-common/angular-1.5.5/angular.min.js"></script>
  <script src="../-common/uiRouter/angular-ui-router.min.js"></script>
  <style>
    nav li {
      display: inline-block;
      margin: 0 10px;
    }

    li.active a {
      color: green;
    }
  </style>
</head>
<body>
<main data-ng-controller="MainCtrl">
  <h3>Routes App</h3>
  <nav>
    <ul>
      <!--<li><a href="#/">Home</a></li>-->
      <li data-ui-sref-active="active">
        <a data-ui-sref="home">Home</a>
      </li>
      <li data-ui-sref-active="active">
        <a data-ui-sref="products">Products</a>
      </li>
      <li data-ui-sref-active="active">
        <a data-ui-sref="events" href="#!/events">Events</a>
      </li>
      <!--<li><a href="#/pata-nhe">unknown routers</a></li>-->
    </ul>
  </nav>
  <div data-ui-view="" data-info="{{name}}">
    <!--this is where current state's content will be injected/added -->
  </div>
</main>
<script>

  /*main app*/
  var app = angular
      .module('basicApp', [
        'ui.router'
      ]);


  /*routes*/
  app.config(function ($stateProvider, $urlRouterProvider, $locationProvider) {

    //set-up app's states and their routes
    $stateProvider
        .state('home', {
          url: '/',
          template: '<div><p>This is {{name}} page</p><p>Some other content</p></div>',
          controller: 'HomeCtrl'
        })
        .state('products', {
          url: '/products',
          template: '<div><p>This is {{name}} page</p><p>Some other content</p></div>',
          controller: 'ProductsCtrl'
        })
        .state('events', {
          url: '/events',
          template: '<div><p>This is {{name}} page</p><p>Some other content</p></div>',
          controller: 'EventsCtrl'
        })
        .state('notFound', {
          url: '/404',
          template: '<p>The requested page not found. please use correct URLs.</p>'
        });


    //handle 404/unknown routes
    $urlRouterProvider.otherwise('/404'); //pass the URL instead of state


    //Declare the routes as SPA for SEO
    $locationProvider.hashPrefix('!');

  });

  /*controllers*/

  app.controller('MainCtrl', function ($scope) {

  });

  app.controller('HomeCtrl', function ($scope) {
    $scope.name = 'home';
  });

  app.controller('ProductsCtrl', function ($scope) {
    $scope.name = 'products';
  });

  app.controller('EventsCtrl', function ($scope) {
    $scope.name = 'events';
  });

</script>
</body>
</html>